<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Ex01_FirstServlet</display-name>
    <servlet-name>Ex01_FirstServlet</servlet-name>
    <servlet-class>ch05.Ex01_FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex01_FirstServlet</servlet-name>
    <url-pattern>/Ex01_FirstServlet</url-pattern>
  </servlet-mapping>
  <display-name>JavaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ex02_LifeCycle</display-name>
    <servlet-name>Ex02_LifeCycle</servlet-name>
    <servlet-class>ch05.Ex02_LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02_LifeCycle</servlet-name>
    <url-pattern>/Ex02_LifeCycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex01_RequestMethod</display-name>
    <servlet-name>Ex01_RequestMethod</servlet-name>
    <servlet-class>ch06_basic.Ex01_RequestMethod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex01_RequestMethod</servlet-name>
    <url-pattern>/Ex01_RequestMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex02_Parameter</display-name>
    <servlet-name>Ex02_Parameter</servlet-name>
    <servlet-class>ch06_basic.Ex02_Parameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02_Parameter</servlet-name>
    <url-pattern>/Ex02_Parameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex03_Calculator</display-name>
    <servlet-name>Ex03_Calculator</servlet-name>
    <servlet-class>ch06_basic.Ex03_Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03_Calculator</servlet-name>
    <url-pattern>/Ex03_Calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex04_RegisterMember</display-name>
    <servlet-name>Ex04_RegisterMember</servlet-name>
    <servlet-class>ch06_basic.Ex04_RegisterMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex04_RegisterMember</servlet-name>
    <url-pattern>/Ex04_RegisterMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CityController</display-name>
    <servlet-name>CityController</servlet-name>
    <servlet-class>ch07_dao.CityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityController</servlet-name>
    <url-pattern>/CityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex05_Login</display-name>
    <servlet-name>Ex05_Login</servlet-name>
    <servlet-class>ch06_basic.Ex05_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex05_Login</servlet-name>
    <url-pattern>/Ex05_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex01_Search</display-name>
    <servlet-name>Ex01_Search</servlet-name>
    <servlet-class>ch07_dao.Ex01_Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex01_Search</servlet-name>
    <url-pattern>/Ex01_Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex02_List</display-name>
    <servlet-name>Ex02_List</servlet-name>
    <servlet-class>ch07_dao.Ex02_List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02_List</servlet-name>
    <url-pattern>/Ex02_List</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex03_Insert</display-name>
    <servlet-name>Ex03_Insert</servlet-name>
    <servlet-class>ch07_dao.Ex03_Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03_Insert</servlet-name>
    <url-pattern>/Ex03_Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex04_Delete</display-name>
    <servlet-name>Ex04_Delete</servlet-name>
    <servlet-class>ch07_dao.Ex04_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex04_Delete</servlet-name>
    <url-pattern>/Ex04_Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex05_Update</display-name>
    <servlet-name>Ex05_Update</servlet-name>
    <servlet-class>ch07_dao.Ex05_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex05_Update</servlet-name>
    <url-pattern>/Ex05_Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KcityController</display-name>
    <servlet-name>KcityController</servlet-name>
    <servlet-class>ch07_dao.kcity.KcityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KcityController</servlet-name>
    <url-pattern>/KcityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KpopController</display-name>
    <servlet-name>KpopController</servlet-name>
    <servlet-class>ch07_dao.kpop.KpopController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KpopController</servlet-name>
    <url-pattern>/KpopController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex01_SetSession</display-name>
    <servlet-name>Ex01_SetSession</servlet-name>
    <servlet-class>ch09_cookie_session.Ex01_SetSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex01_SetSession</servlet-name>
    <url-pattern>/Ex01_SetSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex02_GetSession</display-name>
    <servlet-name>Ex02_GetSession</servlet-name>
    <servlet-class>ch09_cookie_session.Ex02_GetSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02_GetSession</servlet-name>
    <url-pattern>/Ex02_GetSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex03_SetCookie</display-name>
    <servlet-name>Ex03_SetCookie</servlet-name>
    <servlet-class>ch09_cookie_session.Ex03_SetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03_SetCookie</servlet-name>
    <url-pattern>/Ex03_SetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex04_GetCookie</display-name>
    <servlet-name>Ex04_GetCookie</servlet-name>
    <servlet-class>ch09_cookie_session.Ex04_GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex04_GetCookie</servlet-name>
    <url-pattern>/Ex04_GetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>ch09_cookie_session.user.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilterTest</display-name>
    <servlet-name>FilterTest</servlet-name>
    <servlet-class>ch10_filter.FilterTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterTest</servlet-name>
    <url-pattern>/FilterTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex02_builtinobject</display-name>
    <servlet-name>Ex02_builtinobject</servlet-name>
    <servlet-class>ch14_el_jstl.Ex02_builtinobject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex02_builtinobject</servlet-name>
    <url-pattern>/Ex02_builtinobject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex03_collections</display-name>
    <servlet-name>Ex03_collections</servlet-name>
    <servlet-class>ch14_el_jstl.Ex03_collections</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex03_collections</servlet-name>
    <url-pattern>/Ex03_collections</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex04_Pojo</display-name>
    <servlet-name>Ex04_Pojo</servlet-name>
    <servlet-class>ch14_el_jstl.Ex04_Pojo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex04_Pojo</servlet-name>
    <url-pattern>/Ex04_Pojo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex11_Core</display-name>
    <servlet-name>Ex11_Core</servlet-name>
    <servlet-class>ch14_el_jstl.Ex11_Core</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex11_Core</servlet-name>
    <url-pattern>/Ex11_Core</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex11_core</display-name>
    <servlet-name>Ex11_core</servlet-name>
    <servlet-class>ch14_el_jstl.Ex11_core</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex11_core</servlet-name>
    <url-pattern>/Ex11_core</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardController</display-name>
    <servlet-name>BoardController</servlet-name>
    <servlet-class>project.controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardController</servlet-name>
    <url-pattern>/BoardController</url-pattern>
  </servlet-mapping>
</web-app>